body{

font-family: Arial, Helvetica, sans-serif;

background-color: red;


}
.container{
background-color: aqua;
color: black;
width: 300px;
padding: 30px ;
margin: 20px auto ;
border: 2px purple;
border-radius: 10px;
box-sizing: border-box;
text-align: center;








}